.snackbar {
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  width: 100vw;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #e8bfbf;
  -webkit-box-shadow: 1px 5px 24px 5px #000000; 
  box-shadow: 1px 5px 24px 5px #000000;
  color: #000000;
  border: 1px solid lightgray;
  padding: 20px;
}



.snackbar .message {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

#show {
  visibility: visible;
  animation: zoomIn 0.8s 0s;
}
#hide {
  visibility: hidden;
}


